In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df=pd.read_csv("C:/Users/sksin/OneDrive/Desktop/IC272/Assignment-1/landslide_data_miss.csv")
df

,dates,stationid,temperature,humidity,pressure,rain,lightavg,lightmax,moisture
0,08-07-2018,t10,25.46875,82.18750,1036.346875,6.75,5.5000,4000.0,0.0000
1,09-07-2018,t10,26.19298,83.14912,1037.604386,1761.75,11.8448,4000.0,5.6930
2,10-07-2018,t10,25.17021,85.34043,1037.889362,652.50,8.7692,4000.0,NaN
3,11-07-2018,t10,NaN,87.68657,1036.857463,963.00,8.8358,4000.0,6.0373
4,12-07-2018,t10,24.06923,87.64615,1027.830769,254.25,274.6232,4333.0,31.2385
...,...,...,...,...,...,...,...,...,...
940,21-11-2018,t9,NaN,58.69630,1026.797407,73577.25,5521.1231,47460.0,54.4222
941,22-11-2018,t9,15.52482,63.16312,1027.495248,65301.75,5521.1231,47460.0,54.5674
942,23-11-2018,t9,15.81560,59.21277,1029.318511,73534.50,5521.1231,47460.0,54.8794
943,24-11-2018,t9,16.58571,54.63571,1026.776357,72283.50,5521.1231,47460.0,55.0286
944,25-11-2018,t9,17.90000,49.41000,1026.771200,71799.75,5783.7581,47460.0,55.3400

In [4]:
# df.columns
# df.isna().sum()
# df[df.isna().any(axis=1)]
print(df.duplicated().sum())

0

In [5]:
print(df['stationid'].isna().sum())

19

In [ ]:
df

In [6]:
df.dropna(subset = ["stationid"], inplace=True)
print(df['stationid'].isna().sum())

0

In [7]:
df.isna().sum()

dates           0
stationid       0
temperature    62
humidity       41
pressure       73
rain           33
lightavg       43
lightmax       27
moisture       30
dtype: int64

In [10]:

df.dropna(thresh=3,inplace=True)
df.isna().sum()

dates           0
stationid       0
temperature    48
humidity       27
pressure       59
rain           19
lightavg       29
lightmax       13
moisture       16
dtype: int64